body.dashboard.profiles {

  table table tr:first-child td {
    font-weight: 800;
  }
  td.caption {
    font-size: 9px;
    padding-top: 10px;
  }

  td .btn {
    margin-top: 15px;
  }

  &.edit {
    form {
      padding-right: 0;
    }

    label.radio {
      float: left;
      width: 85px;
      padding: 0 25px;
      margin-top: -7px;

      input {
        position: relative;
        margin: 0 7px;
        box-shadow: none;
      }

      input#user_gender_female {
        margin-left: 13px;
      }
    }
  }
}