// RESPONSIVE STYLES
@media only all and (min-width:599px) {
  body.home {
    nav.navbar {
      height: 70px;

      .login {
        margin-top: 25px;
      }
      .homepage {
        margin-top: 25px;
      }
    }
    .main-content {

      .top-slider-bg {
        background-position: 0px -200px;
      }

      .train-ticket {
        background: image-url('train-ticket.jpg') no-repeat;
        background-size: cover;
        background-position: 0px -365px;
      }

      .burger-and-chips {
        background: image-url('burger-and-chips.jpg') no-repeat;
        background-size: cover;
        background-position: 0px -217px;
      }

      .visit-in-grand-palace {
        background: image-url('visit-in-grand-palace.jpg') no-repeat;
        background-size: cover;
        background-position: 0px -415px;
      }

      .trip-out-of-town {
        background: image-url('trip-to-scandinavia.jpg') no-repeat;
        background-size: cover;
        background-position: 0px -34px;
      }
      header {
        padding: 30px 0;
      }
      h1 {
        font-size: 50px;
        line-height: 90px;
      }
      h3 {
        font-size: 30px;
        line-height: 42px;
      }
    }

    .go-to-next-line {
      margin: 15px 0;
    }
    .new-expenses-container {
      margin-top: 0px;
      margin-bottom: 30px;
      padding: 20px 0;
      background: rgba(0, 0, 0, 0.3);
      border-top: 2px solid #ccc;
      border-bottom: 2px solid #ccc;

      form {
        padding: 0;

        table {

          td {
            width: auto;
            margin-bottom: 0;
            float: none;
          }

          input {
            margin-right: 10px;
            padding: 10px;
            text-align: left;
            background: #eee;
            border: 2px solid #ccc;
            font-size: 20px;
          }
        }
      }
    }

    .more-info-first, .more-info-second {
      ul {
        position: relative;
        left: calc(50% - 250px);
      }
    }
  }
}

@media only all and (min-width:599px) and (max-width:1024px) {
  body.home {
    .main-content {
      h1 {
        line-height: 60px;
      }
    }
  }
}
