.home
  %nav.navbar{:role => "navigation"}
    .container
      = link_to "Register", 'register_path', class: 'pull-right'
  %header
    %h1 My expenses
    %p Login with your Facebook account and save your daily expenses
    = link_to "Facebook Login", '/auth/facebook'

