body.dashboard {
  header.row {
    img {
      float: left;
      margin: 15px;
    }
  }
}

.home {
  table {
    margin: -30px auto 50px;
  }
  input {
    margin-right: 10px;
  }
  input[type='submit'] {

  }
}

input {
  padding: 10px;
  font-size: 18px;
  &#expense_payed_at {
    width: 135px;
  }
  &#expense_price {
    width: 135px;
  }
}

body.expenses {

  &.new {
    .new-expense-container {
      #expense_payed_at, #expense_price, #expense_category {
        width: 130px;
      }
      #expense_name, #expense_description {
        width: 230px;
      }
    }
  }
}