// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background: #42bd41;
  font-family: 'Merriweather Sans', sans-serif;
  color: #fff;
}

.navbar {
  border-radius: 0;
  background: #72d572;
}

header {
  text-align: center;
}