nav.navbar {
  min-height: 52px;
  border-bottom: 1px solid #ddd;
  background: #fff;

  .navbar-collapse {
    -webkit-box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.5);
  }

  li {
    padding: 10px 0;

    img {
      width: 22px;
      margin-top: -4px;
      margin-right: 10px;
    }

    a {
      background: #eee;
    }
  }
  .login {
    float: right;
    margin-right: 20px;
    margin-top: 14px;
    font-size: 16px;
    color: #b2b2b2;
  }

  .homepage {
    float: left;
    margin-left: 20px;
    margin-top: 14px;
    font-size: 16px;
    color: #b2b2b2;
  }

  .profile {
    img {
      border-radius: 50%;
    }
  }
}
